@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.font-lato {
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'TT';
  src: url(tt.woff2) format('woff2');
}

.font-tt {
  font-family: 'TT', sans-serif;
}
